* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Consolidate the color: #ffffff for body elements */
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Use span instead of .seo class */
header h1 span {
    color: #d9dcd6;
}

/* Adjust quotation to 'Calibri' font */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Comment out as it has no effect on the style of nav section of the page */
/* header nav ul {
    list-style-type: none;
} */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Move header and footer next to each other */
/* footer style start */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black
}

footer h2 {
    font-size: 20px;
}
/* footer style end */

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* hero style start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* hero style end */

/* content style start */
/* Place all content related styles next to each other */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidate CSS properties by assigning one class "content-info" to three elements */
.content-info{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

.content-info img {
    max-height: 200px;
}

.content-info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Move float-left and float-right next to related elements */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* content style end */

/* benefits style start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidate CSS properties by assigning one class "benefit-info" to three elements */
.benefit-info {
    margin-bottom: 32px;
}

.benefit-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* benefit style end */
